/* FAQ STYLES */

.faq-content {
  background-color: #036A41;
  display: grid;
  grid-template-columns: 3.55fr 1fr;
  column-gap: 50px;
  row-gap: 20px;
  padding: 30px 20px 30px;
}

.faq-panel {
  background-color: white;
  border: black solid 4px;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 50px;
}

.faq-info {
  background-color: #F4F4F3;
  border: #036A41 solid 4px;
  padding: 20px 40px;
}

/* LINKS PANEL STYLES */

.menu-links-panel {
  background-color: #F4F4F3;
  border: black solid 4px;
  grid-column-start: 2;
  grid-column-end: 2;
  padding: 20px 20px 0px;
}

.dynamic-quick-links {
  content-visibility: visible;
}

.menu-links-panel .link-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  row-gap: 5px;
}

.menu-links-panel .button {
  background-color: #036A41;
  color: white;
  border: black solid 4px;
  border-radius: 10px;
  padding: 5px;
  transition-duration: 0.4s;
  text-align: center;
}

.menu-links-panel .button:hover {
  background-color: #F4F4F3;
  color: #036A41;
  border-radius: 5px;
}

.menu-links-panel address a {
  color: #036A41;
  text-decoration: none;
  transition-duration: 0.4s;
}

.menu-links-panel address a:hover {
  text-decoration: underline;
}

@media (max-width: 964px) {
  .faq-content {
    grid-template-columns: auto;
  }

  .faq-panel {
    grid-column-start: 1;
    padding: 50px 50px 20px;
  }

  .menu-links-panel {
    grid-column-start: 1;
  }

  .dynamic-quick-links {
    content-visibility: hidden;
  }

  .menu-links-panel .link-buttons {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}