<footer class="full-footer">
  <section class="footer-links">
    <div class="link-items">
      <a href="https://www.ggc.edu/sitemap/">Sitemap</a>
      <a href="https://www.ggc.edu/about-ggc/contact-us/">Contact Us</a>
      <a href="https://www.ggc.edu/about-ggc/directory">Directory</a>
      <a href="https://www.ggc.edu/admissions/visit-learn-about-ggc/maps-and-directions/">Maps</a>
      <a href="https://www.ggc.edu/employment/">Employment</a>
      <a href="https://www.ggc.edu/parents/">Information</a>
    </div>
  </section>
  <section class="footer-legal">
    <p>&copy; 2022 STEC ResearchApp</p>
  </section>
</footer>