<div class="admin-page">
  <main class="admin-content">
    <div class="admin-header">
      <h1 class="text-center">Welcome back, Admin!</h1>
    </div>
    <section class="admin-instructions">
      <p>Welcome to the administration dashboard. <br> Here you can view different submitted
        forms. You have the ability to filter forms by their status: pending, approved, and
        denied. A seperate filter for primary advisor/professor is also avaliable.
      </p>
    </section>
    <section class="form-manager">
      <app-preview-panel></app-preview-panel>
    </section>
  </main>
  <div class="long-links-panel">

    <section class="quick-links">
      <h2 class="text-center">Quick Links</h2>
      <div class="link-buttons">
        <button class="button" routerLink='/faq'>FAQs</button>
        <button class="button" routerLink='/enrollment'>Enrollment Instructions</button>
        <button class="button" routerLink='/class-requirements'>Class Requirements</button>
        <button class="button"
          onclick="window.open('https://www.ggc.edu/academics/school-of-science-and-technology/research-internships-service-learning/stec-2500-4500/')">STEC
          Resources</button>
        <button class="button" onclick="window.open('https://www.ggc.edu/academics/calendar/')">Academic
          Calendar</button>
        <button class="button" routerLink="/previous-projects">Previous Projects</button>
        <button class="button" onclick="window.open('https://www.ggc.edu/academics/catalog/')">GGC Catalog</button>
      </div>
    </section>

    <section class="contact-us">
      <div class="contact-info">
        <h2 class="text-center">Contact Us</h2>
        <address>
          <p><i class="bi bi-envelope-fill"></i>&nbsp;Email: <a
              href="mailto:STECcoordinator@ggc.edu">STECcoordinator@ggc.edu</a></p>
          <p><i class="bi bi-telephone-fill"></i>&nbsp;Phone: <a href="tel:470-955-8765">470-955-8765</a></p>
          <p><i class="bi bi-geo-alt-fill"></i>&nbsp;Location: Building C, Suite 2233</p>
        </address>
      </div>
    </section>

  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>