<div class="requirements-page">
  <main class="requirements-content">
    <div class="requirements-panel">
      <h1 class="text-center">Class Requirements</h1>
      <section class="class-requirements">
        <ol>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat.</li>
        </ol>
      </section>
    </div>
    <div class="menu-links-panel">
      <div class="dynamic-quick-links">
        <h2 class="text-center">Quick Links</h2>
        <div class="link-buttons">
          <button class="button" routerLink='/faq'>FAQs</button>
          <button class="button" routerLink='/enrollment'>Enrollment Instructions</button>
          <button class="button" routerLink='/class-requirements'>Class Requirements</button>
          <button class="button"
            onclick="window.open('https://www.ggc.edu/academics/school-of-science-and-technology/research-internships-service-learning/stec-2500-4500/')">STEC
            Resources</button>
          <button class="button" onclick="window.open('https://www.ggc.edu/academics/calendar/')">Academic
            Calendar</button>
          <button class="button" routerLink="/previous-projects">Previous Projects</button>
          <button class="button" onclick="window.open('https://www.ggc.edu/academics/catalog/')">GGC Catalog</button>
        </div>
      </div>
      <h2 class="text-center">Contact Us</h2>
      <address>
        <p><i class="bi bi-envelope-fill"></i>&nbsp;Email: <a
            href="mailto:STECcoordinator@ggc.edu">STECcoordinator@ggc.edu</a></p>
        <p><i class="bi bi-telephone-fill"></i>&nbsp;Phone: <a href="tel:470-955-8765">470-955-8765</a></p>
        <p><i class="bi bi-geo-alt-fill"></i>&nbsp;Location: Building C, Suite 2233</p>
      </address>
    </div>
  </main>
</div>
<app-feedback-button></app-feedback-button>