<div class="landing-page">
  <main class="landing-content">
    <div class="info-panel">
      <h1 class="text-center">Welcome to the STEC ResearchApp!</h1>
      <section class="app-info">
        <p>The STEC research opportunities prepares students with a better
          understanding of the research process and the scientific method.
          They also provide students with a strong background for STEC courses
          and other research opportunities.<br>
          Select the resources button to access the following information:<br>
        </p>
        <ol class="resources-directions">
          <li>Open the "STEC Mentors_Topics" spreadsheet to browse research projects,
            keywords, and faculty mentors for current opportunities.
          </li>
          <li>Connect with faculty research supervisor for permission to participate.</li>
          <li>Read STEC course syllabus.</li>
          <li>Complete STEC Faculty/Student Research Agreement.</li>
          <li>Email questions to <a href="mailto:STECcoordinator@ggc.edu">STECcoordinator@ggc.edu</a>.</li>
        </ol>
      </section>
    </div>
    <div class="menu-links-panel">
      <div class="dynamic-quick-links">
        <h2 class="text-center">Quick Links</h2>
        <div class="link-buttons">
          <button class="button" routerLink='/faq'>FAQs</button>
          <button class="button" routerLink='/enrollment'>Enrollment Instructions</button>
          <button class="button" routerLink='/class-requirements'>Class Requirements</button>
          <button class="button"
            onclick="window.open('https://www.ggc.edu/academics/school-of-science-and-technology/research-internships-service-learning/stec-2500-4500/')">STEC
            Resources</button>
          <button class="button" onclick="window.open('https://www.ggc.edu/academics/calendar/')">Academic
            Calendar</button>
          <button class="button" routerLink="/previous-projects">Previous Projects</button>
          <button class="button" onclick="window.open('https://www.ggc.edu/academics/catalog/')">GGC Catalog</button>
        </div>
      </div>
      <h2 class="text-center">Contact Us</h2>
      <address>
        <p><i class="bi bi-envelope-fill"></i>&nbsp;Email: <a
            href="mailto:STECcoordinator@ggc.edu">STECcoordinator@ggc.edu</a></p>
        <p><i class="bi bi-telephone-fill"></i>&nbsp;Phone: <a href="tel:470-955-8765">470-955-8765</a></p>
        <p><i class="bi bi-geo-alt-fill"></i>&nbsp;Location: Building C, Suite 2233</p>
      </address>
    </div>
    <div class="projects-panel">
      <div class="text-center">
        <h1>Available Projects for the 2023 School Year</h1>
      </div>
      <section class="project-cards">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">STEC 4500</h5>
            <p class="card-text">Mentor: Anca Doloc-Mihu<br>Project Keywords:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Data science and visualization</li>
              <li class="list-group-item">Computational neuroscience/biology</li>
              <li class="list-group-item">Mobile applications</li>
              <li class="list-group-item">Software development</li>
            </ul>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">STEC 4500</h5>
            <p class="card-text">Mentor: Rahaf Barakat<br>Project Keywords:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Software Development</li>
              <li class="list-group-item">Broadening participation for underrepresented minorities in IT</li>
            </ul>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">STEC 2500</h5>
            <p class="card-text">Mentor: Yi Ding<br>Project Keywords:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cyber security</li>
              <li class="list-group-item">Business analytics</li>
            </ul>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">STEC 4500</h5>
            <p class="card-text">Mentor: Wei Liu<br>Project Keywords:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Software development</li>
              <li class="list-group-item">Web development</li>
              <li class="list-group-item">Java, Javascript, Python</li>
            </ul>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">STEC 2500</h5>
            <p class="card-text">Mentor: Shuting Xu<br>Project Keywords:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Web page design with Javascript</li>
              <li class="list-group-item">Website development</li>
              <li class="list-group-item">Machine learning</li>
              <li class="list-group-item">Data analytics</li>
            </ul>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">STEC 4500</h5>
            <p class="card-text">Mentor: Bob Lutz<br>Project Keywords:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Augmented reality in chemical instructions</li>
              <li class="list-group-item">Virtual reality in chemical instructions</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
<app-feedback-button></app-feedback-button>